{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Edit this user</h2>

    <form method="post" action="{{ path('admin_user_update', { 'id': entity.id }) }}">

    <div class="input-group input-group-lg">
        <span class="input-group-addon">Username</span>
        <input type="text" class="form-control" value="{{ entity.name }}" name="username">
    </div>

    <br>

    <div class="input-group input-group-lg">
        <span class="input-group-addon">Password</span>
        <input type="text" class="form-control" value="{{ entity.password }}" name="password">
    </div>

    <br>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><a href="{{ path('admin_user') }}">Back to the list</a></button>
        <button type="button" class="btn btn-default"><a href="{{ path('admin_user_delete', { 'id': entity.id }) }}">Delete</a></button>
        <button type="submit" class="btn btn-default"><a>Update</a></button>
    </div>

    </form>
{% endblock %}
