{% extends '::base.html.twig' %}

{% block body -%}

    <br>

<div class="panel panel-default">

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
        </tbody>
    </table>

</div>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><a href="{{ path('admin_user') }}">Back to the list</a></button>
        <button type="button" class="btn btn-default"><a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">Edit</a></button>
        <button type="button" class="btn btn-default"><a href="{{ path('admin_user_delete', { 'id': entity.id }) }}">Delete</a></button>
    </div>
{% endblock %}
