{% extends '::base.html.twig' %}

{% block body -%}

<h2>Showing a user</h2>

<div class="panel panel-default">

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ entity.role }}</td>
            </tr>
        </tbody>
    </table>

</div>

<div class="btn-group" role="group" aria-label="...">
    <a href="{{ path('admin_user') }}" class="btn btn-default">Back to the list</a>
    <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}" class="btn btn-default">Edit</a>
    <a href="{{ path('admin_user_delete', { 'id': entity.id }) }}" class="btn btn-default">Delete</a>
</div>
{% endblock %}
