{% extends '::base.html.twig' %}

{% block body -%}

<h2>Edit this post</h2>

    <form class="form-horizontal" role="form" method="post" action="{{ path('admin_post_update', { 'id': entity.id }) }}" enctype="multipart/form-data">

        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" placeholder="Title" name="title" value="{{ entity.title }}">
            </div>
        </div>

        <div class="form-group">
            <label for="publishfrom" class="col-sm-2 control-label">Publish from</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="publishfrom" placeholder="Format: d.m.Y H:i" name="publishfrom" value="{{ entity.publishFrom|date('d.m.Y H:i') }}">
            </div>
        </div>

        <div class="form-group">
            <label for="publishto" class="col-sm-2 control-label">Publish to</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="publishto" placeholder="Format: d.m.Y H:i" name="publishto" value="{{ entity.publishTo|date('d.m.Y H:i') }}">
            </div>
        </div>

        <div class="form-group">
            <label for="tags" class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="tags" placeholder="Separate by |" name="tags" value="{% for tag in entity.tags %}{{ tag }}{% if tag.id != entity.tags|last.id %} | {% endif %}{% endfor %}">
            </div>
        </div>

        <div class="form-group">
            <label for="files" class="col-sm-2 control-label">Add files</label>
            <div class="col-sm-10">
                <span class="form-control"><input type="file" id="files" name="files[]" multiple></span>
            </div>
        </div>

        <div class="form-group">
            <label for="files" class="col-sm-2 control-label">Remove files</label>
            <div class="col-sm-10">
                <span class="form-control">{% for file in entity.files %}<a href="{{ path('admin_file_remove', { 'idFile': file.id, 'idPost': entity.id }) }}">{{ file.name }}</a>{% if file.id != entity.files|last.id %} | {% endif %}{% else %}No files attached{% endfor %}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label for="private">
                        <input type="checkbox" name="private" id="private" {% if entity.private %}checked{% endif %}> Make this post private
                    </label>
                </div>
            </div>
        </div>

        <textarea class="form-control" rows="10" name="text">{{ entity.text }}</textarea>

        <br>

        <div class="btn-group" role="group" aria-label="...">
            <a href="{{ path('admin_post') }}" class="btn btn-default">Back to the list</a>
            <a href="{{ path('admin_post_delete', { 'id': entity.id }) }}" class="btn btn-default">Delete</a>
            <button type="submit" class="btn btn-default">Update</button>
        </div>

    </form>

{% endblock %}
