{% extends '::base.html.twig' %}

{% block body -%}

<br>

<div class="panel panel-default">
    <div class="panel-heading">
        List of posts &bull; <a href="{{ path('admin_post_new') }}">Create a new post</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Private</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_post_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{% if entity.private %}<span class="glyphicon glyphicon-check"></span>{% else %}<span class="glyphicon glyphicon-unchecked"></span>{% endif %}</td>
                <td>{% if entity.created %}{{ entity.created|date('d.m.Y H:i') }}{% endif %}</td>
                <td>{% if entity.modified %}{{ entity.modified|date('d.m.Y H:i') }}{% endif %}</td>
                <td>
                    <a href="{{ path('admin_post_show', { 'id': entity.id }) }}">show</a>
                    <a href="{{ path('admin_post_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
