{% extends "BlogApplicationBundle::layout.html.twig" %}

{% block body %}
    <h1>Můj blog</h1>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <h2><a href="{{ path('detailAction', {'id': post.id}) }}">{{ post.title }}</a></h2>
            <p>{{ post.author.name }} - {{ post.created | date('j. n. Y H:i') }}</p>
            <p>{{ post.text[:50] }}</p>
        {% endfor %}
    {% else %}
        <p>Žádné příspěvky ještě neexistují.</p>
    {% endif %}
{% endblock %}
