{% extends '::base.html.twig' %}

{% block body -%}

<h2>Showing a post</h2>

<div class="panel panel-default">

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Private</th>
                <td>{% if entity.private %}<span class="glyphicon glyphicon-check"></span>{% else %}<span class="glyphicon glyphicon-unchecked"></span>{% endif %}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('d.m.Y H:i') }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ entity.modified|date('d.m.Y H:i') }}</td>
            </tr>
            <tr>
                <th>Publish from</th>
                <td>{{ entity.publishFrom|date('d.m.Y H:i') }}</td>
            </tr>
            <tr>
                <th>Publish to</th>
                <td>{{ entity.publishTo|date('d.m.Y H:i') }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{% for tag in entity.tags %}{{ tag }} | {% endfor %}</td>
            </tr>
            <tr>
                <th>Files</th>
                <td>{% for file in entity.files %}{{ file.name }} | {% endfor %}</td>
            </tr>
        </tbody>
    </table>

</div>

<div class="well">{{ entity.text }}</div>

<div class="btn-group" role="group" aria-label="...">
    <a href="{{ path('admin_post') }}" class="btn btn-default">Back to the list</a>
    <a href="{{ path('admin_post_edit', { 'id': entity.id }) }}" class="btn btn-default">Edit</a>
    <a href="{{ path('admin_post_delete', { 'id': entity.id }) }}" class="btn btn-default">Delete</a>
</div>

    <br><br>

    {% include "BlogApplicationBundle:Post:comments.html.twig" with { 'comments': entity.comments } %}

{% endblock %}
