{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-md-12">
        <div class="panel panel-default panel-body">
            <h2>
                {{ entity.title }}
            </h2>
            <p>Author: {{ entity.author }}</p>
            <p>Tags: {% for tag in entity.tags %}{{ tag }}{% if tag.id != entity.tags|last.id %}, {% endif %}{% endfor %}</p>
            <p><span class="glyphicon glyphicon-time"></span> Published {{ entity.publishFrom|date('d.m.Y') }}</p>
            <hr>
            <p style="font-size: large">
                {{ entity.text }}
            </p>
            <hr>
            {% include "BlogApplicationBundle:Default:comments.html.twig" with { 'comments': entity.comments } %}
            <hr>
            <p>Attached files:
                {% for file in entity.files if not file.comment %}
                    {% if file.internetmediatype == 'image/png' or  file.internetmediatype == 'image/jpeg' or  file.internetmediatype == 'image/gif' %}
                        <a href="{{ path('download_file', {'idPost': entity.id, 'fileName': file.name}) }}"><img class="img-thumbnail" style="max-height: 50pt" src="{{ path('download_file', {'idPost': entity.id, 'fileName': file.name}) }}"></a>
                    {% else %}
                        <a href="{{ path('download_file', {'idPost': entity.id, 'fileName': file.name}) }}">{{ file.name }}</a>, 
                    {% endif %}
                {% else %}
                    No files attached
                {% endfor %}</p>
        </div>

        {% if is_granted('ROLE_READER') %}
        <div class="panel panel-default panel-body">
            <form method="post" action="{{ path("post_comment", { 'id': entity.id }) }}" enctype="multipart/form-data">
                <label for="inputHelpBlock">Comment text</label>
                <input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock" name="text">
                <span id="helpBlock" class="help-block">You are now commenting as {{ app.security.token.user }} and reacting to <a id="parent" onclick="unsetParent()" onmouseover="" style="cursor: pointer;">the article</a></span>
                <input type="hidden" name="parent" value="article" id="hidden">
                <button type="submit" class="btn btn-primary">Send comment</button>
                <span class="btn btn-default"><input type="file" id="files" name="files[]" multiple></span>
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}
